<div id="about" class="about-section">
  <div class="about-name side-slide-animation">
    <span class="material-symbols-sharp bolt-icon"> bolt </span>
    <span class="about-name-span">
      <p class="my-about">ABOUT ME</p>
    </span>
  </div>
  <div class="about-author">
    <p class="about-info create-animation">
      I am a Software Engineer with a strong interest in building 
      reliable, efficient, and impactful digital solutions. While I’ve built 
      several full-stack web applications, my passion lies in backend 
      development, system design, and exploring the world of Machine Learning.
      <br /><br />
      From leading the AI Club at my college to earning the First Runner-up 
      position at a National Hackathon, I love solving real-world problems 
      through code, logic, and collaboration. My experience spans React.js, Node.js, Express, MongoDB, and SQL, with 
      growing skills in Python, Pandas, and NumPy for data-driven development.
      <br /><br />
      I’m always learning, experimenting, and pushing boundaries
       — driven by curiosity and a commitment to meaningful innovation.
      <br /><br />
      Would Love &hearts; to Connect
    </p>
  </div>
</div>
