<!--  -->

<div class="image-container">
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/c2/c3/43/c2c3436402b4015f26821fa9cdfe365d.jpg"
    />

    <div class="info-box">Coming Soon (Prod. Harmonish)</div>
  </div>
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/59/f8/69/59f8694cb223061869e203bb38c059ed.jpg"
    />
    <div class="info-box">Coming Soon (Prod. Harmonish)</div>
  </div>
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/27/b1/05/27b105523f4f52ce94aaa04056121b9a.jpg"
    />

    <div class="info-box">Coming Soon (Prod. Harmonish)</div>
  </div>
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/d7/dc/24/d7dc245537dd26b42116ffb7ff70eff1.jpg"
    />
    <div class="info-box">Coming Soon (Prod. Harmonish)</div>
  </div>
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/23/d2/0d/23d20d23c19e863ffcc0516baeb6f3f4.jpg"
    />

    <div class="info-box">Coming Soon (Prod. Harmonish)</div>
  </div>
  <div class="image-box">
    <img
      class="front-images"
      src="https://i.pinimg.com/474x/08/3e/16/083e166805adbdf79763ade148f8bb13.jpg"
    />
    <div class="info-box">Coming Soon (Prod. Harmonish)</div>
  </div>
</div>
