<div class="navbar">
  <div class="nav-section-one">
    <div class="nav-logo">
      <p>MitanshiJain</p>
    </div>
  </div>
  <div class="nav-section-two">
    <div class="nav-tools">
      <ul>
        <li class="nav-hover disable go-to-about">
          <a href="#about" style="text-decoration: none; color: rgb(245, 245, 245);">ABOUT</a>
        </li>
        <li class="nav-hover disable go-to-project">
          <a href="#projects" style="text-decoration: none; color: rgb(245, 245, 245);">PROJECTS</a>
        </li>
        <li class="nav-hover disable go-to-project">
          <a link="/games" style="text-decoration: none; color:  rgb(245, 245, 245);">GAMES</a>
        </li>
        <li class="nav-hover disable go-to-faq">
          <a href="#faq" style="text-decoration: none; color:  rgb(245, 245, 245);">FAQ</a>
        </li>
        <li> <br></li> 
      </ul>
    </div>
  </div>
</div>
