<!-- Hamburger button -->
<div class="hamburger" id="hamburger">
  <span></span>
  <span></span>
  <span></span>
  <!-- <span class="material-symbols-sharp" id="open-close"> menu </span>
          <p class="open-close">MENU</p> -->
</div>

<!-- Circle Menu -->
<div class="circle-menu" id="circleMenu">
  <ul>
    <li><a href="#home">HOME <sub>(01)</sub></a></li>
    <li><a href="#about">ABOUT <sub>(02)</sub></a></li>
    <li><a href="#faq">FAQ <sub>(03)</sub></a></li>
    <li><a href="#projects">PROJECTS <sub>(04)</sub></a></li>
    <li><a href="/games">GAMES <sub>(05)</sub></a></li>
  </ul>
</div>

<script>
const hamburger = document.getElementById("hamburger");
const circleMenu = document.getElementById("circleMenu");

hamburger.addEventListener("click", () => {
  hamburger.classList.toggle("active");
  circleMenu.classList.toggle("active");
});
</script>
