# Ignore node_modules folder
node_modules/

# Ignore build or dist folder
dist/
build/

# Ignore all log files
*.log

# Ignore environment files
.env

# Ignore all .DS_Store files (MacOS)
.DS_Store

# Ignore specific file
secret.txt
