.curser-dot {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-white);
  mix-blend-mode: difference;
}

.curser-border {
  width: 10rem;
  height: 10rem;
  border: 2px solid var(--color-black);
  border-color: white;
  mix-blend-mode: difference;
}

.curser-border,
.curser-dot {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2000;
  pointer-events: none;
}

.fixed-name {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: black;
  width: 4rem;
  height: 15rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-name p {
  rotate: -90deg;
  letter-spacing: 4px;
  font-size: var(--font-small);
}

@media (max-width: 1024px) {
  body {
    cursor: default; /* Show default cursor */
  }

  .curser-dot,
  .curser-border {
    display: none; /* Hide custom cursor */
  }
}
